/* StartEndDetails.css */

.start-end-details-container {
    /* width: 100%; */
    /* max-width: 800px; */
    margin-left: 250px; /* Leave 300px from the left side */
    padding: 20px;
    background-color: skyblue;
  }
  
  .start-end-details-form {
    display: flex;
    flex-direction: column;
  }
  
  .start-end-details-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .start-end-details-column {
    flex: 1;
    min-width: 250px; /* Minimum width for each column */
  }
  
  /* .start-end-details-form-group {
    margin-bottom: 20px;
  } */
  
  .start-end-details-label {
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .start-end-details-input {
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  .start-end-details-button-row {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .start-end-details-button {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
  /* Responsive Styles */
  @media (max-width: 600px) {
    .start-end-details-column {
      flex: 1 0 100%; /* Full width for small screens */
    }
  }
  