.close-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem; /* Adjust as needed */
  color: #333; /* Adjust color */
}

.close-icon:focus {
  outline: none;
}

@media (max-width: 768px) {
  .Search-by-date-or-driver-name {
    text-align: center;
    padding: 0;
  }
}
