.container{
    background-color:skyblue;
     /* margin-top: 50px !important; */
     height: 100vh;
     justify-content: center;
     align-items: center;
}
.width-container-for-login{
    width: 60%;
}

button{
    color:red;
}

.form{
    display: flex;
    gap: 5px;
}
