.trip-details-input {
  max-width: 200px; /* Adjust the width as needed */
}
.trip-counts-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Two columns */
  gap: 10px; /* Adjust gap between cells as needed */
}

.trip-counts {
  /* border: 1px solid #ccc; Optional: Add border for each cell */
  padding: 10px; /* Optional: Add padding for each cell */
}
.form-groupx {
  margin: auto;
  display: flex;

  flex-direction: column;

  padding: 1em 0;
}
@media (max-width: 768px) {
  .form-groupx {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 3em 0;
  }
}
