.container{
    background-color:skyblue;
     /* margin-top: 50px !important; */
     height: auto;
     justify-content: center;
     align-items: center;
}
.width-container-for-login{
    width: 60%;
}

button{
    color:red;
}

.form{
    display: flex;
    gap: 5px;
    margin-left: 188px;
}
.loggin-btn{
    background-color: #004f83 ;
}