/* .container{
     
     height: auto;
     justify-content: center;
     align-items: center;
}
.width-container-for-login{
    width: 60%;
}

button{
    color:red;
}

.form{
    display: flex;
    gap: 5px;
    margin-left: 188px;
}
.loggin-btn{
    background-color: #004f83 ;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin-left: 300px;
    width: 30%;
} */